html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    color: rgb(108, 42, 111);
    display: grid;
    grid-template-columns: minmax(min-content, 25vw) 1fr;
    grid-template-rows: minmax(min-content, 15vh) 1fr;
    grid-template-areas: 'sidebar header' 'sidebar content';
}
.header{
    background-color: rgb(250, 175, 251);
    color: rgb(109, 34, 103);
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}
.sidebar{
    background-color: rgb(124, 37, 110);
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5rem;
    overflow: auto;
}
.item{
    flex: 1;
    background: rgb(237, 149, 225);
    padding: 1rem;
    margin: 0.5rem;
    height: max-content;
}
.item:hover{
    color: rgb(126, 64, 117);
    background-color: rgb(165, 77, 158);
}
.content{
    background-color: rgb(245, 197, 251);
    color: rgb(168, 61, 172);
    grid-area: content;
    padding-left: 6rem;
    padding-right: 4rem;
    padding-top: 2rem;
}
